---
import Layout                                           from "../layouts/Layout.astro";
import Button                                           from "../components/Button.astro";
import Section                                          from "../components/Section.astro";
import Title                                            from "../components/Title.astro";
import ExperienceItem                                   from "../components/ExperienceItem.astro";
import ProyectItem                                      from "../components/ProyectItem.astro";
import CertificateItem                                  from "../components/CertificateItem.astro";
import {experience, proyect, certificate}               from "../config/env";

---

<Layout>
    <Section>
        <img
            src="https://avatars.githubusercontent.com/u/63934510?v=4"
            alt="img profile"
            class="rounded-full w-[150px] h-[150px] border-4 md:mr-10 mb-10 md:mb-0"
        />
        <div class="flex flex-col justify-center">
            <h1 class="text-4xl font-bold text-center md:text-start">Nibaldo Chavez</h1>
            <h5 class="text-2xl py-5 md:py-0 md:pt-2 text-center md:text-left">
                Desarrollador full stack
            </h5>
            <div class="pt-5 flex flex-wrap md:justify-start">
                <Button href="https://github.com/niba291">
                    <svg
                        class="mr-1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="M12.001 2c-5.525 0-10 4.475-10 10a9.994 9.994 0 0 0 6.837 9.488c.5.087.688-.213.688-.476c0-.237-.013-1.024-.013-1.862c-2.512.463-3.162-.612-3.362-1.175c-.113-.288-.6-1.175-1.025-1.413c-.35-.187-.85-.65-.013-.662c.788-.013 1.35.725 1.538 1.025c.9 1.512 2.337 1.087 2.912.825c.088-.65.35-1.087.638-1.337c-2.225-.25-4.55-1.113-4.55-4.938c0-1.088.387-1.987 1.025-2.687c-.1-.25-.45-1.275.1-2.65c0 0 .837-.263 2.75 1.024a9.28 9.28 0 0 1 2.5-.337c.85 0 1.7.112 2.5.337c1.913-1.3 2.75-1.024 2.75-1.024c.55 1.375.2 2.4.1 2.65c.637.7 1.025 1.587 1.025 2.687c0 3.838-2.337 4.688-4.562 4.938c.362.312.675.912.675 1.85c0 1.337-.013 2.412-.013 2.75c0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10"
                        ></path></svg
                    >
                    <span class="hidden md:block">Github</span>
                </Button>
                <Button href="https://www.linkedin.com/in/nibaldochzvez/">
                    <svg
                        class="mr-1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                    >
                    <span class="hidden md:block">Linkedin</span>                        
                </Button>
                <Button href="mailto:nibaldochavezp@gmail.com">
                    <svg
                        class="mr-1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"
                        ></path></svg
                    >
                    <span class="hidden md:block">Correo</span>
                </Button>
                <Button href="https://drive.usercontent.google.com/download?id=1lOFNnBKkJb5xx6aNCAtzuQXdTZrmEXMW&export=download&authuser=2&confirm=t&uuid=7ab48a27-65bb-4ee4-8ff3-a0e624a7dd5e&at=APZUnTVjhrUMz75oolkr8FeFlLev:1705411041880" download={""}>
                    <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                            <path fill="currentColor" d="M4 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm14 0H6v16h12zM8 9a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1m1 4a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2z" />
                        </g>
                    </svg>
                    <span class="hidden md:block">Curriculum</span>
                </Button>
            </div>
        </div>
    </Section>
    <Section class="md:px-20 py-10">
        <Title>
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" class="mr-2" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M10.581 1.25h-.02c-.114 0-.202 0-.286.005a2.75 2.75 0 0 0-2.385 1.72c-.031.077-.059.16-.095.269l-.006.019l-.026.077l-.029.085c-.16.442-.691.811-1.253.825l-1.82.09c-.786.092-1.459.288-2.028.751a4 4 0 0 0-.542.542c-.463.57-.66 1.242-.752 2.029c-.089.76-.089 1.715-.089 2.9v.078c0 .284 0 .55.023.774c.025.248.083.512.24.766q.078.124.175.234c.169.191.365.315.562.406c.003 1.616.024 3.248.169 4.646c.085.82.215 1.589.422 2.245c.203.645.503 1.256.979 1.678c.823.732 1.86 1.055 3.153 1.21c1.27.151 2.898.151 4.976.151h.102c2.078 0 3.706 0 4.976-.152c1.293-.154 2.33-.477 3.153-1.209c.476-.422.776-1.033.98-1.678c.206-.656.336-1.425.421-2.245c.145-1.398.166-3.03.169-4.646a1.66 1.66 0 0 0 .736-.64c.158-.254.216-.518.241-.766c.023-.224.023-.49.023-.774v-.078c0-1.185 0-2.14-.09-2.9c-.092-.787-.288-1.46-.751-2.029a4 4 0 0 0-.542-.542c-.57-.463-1.242-.66-2.029-.752L17.52 4.25c-.562-.014-1.093-.383-1.253-.825l-.029-.085l-.032-.097c-.036-.107-.063-.191-.095-.269a2.75 2.75 0 0 0-2.385-1.719a5 5 0 0 0-.285-.005zm-3.01 4.5h8.859c1.222 0 2.078.002 2.733.079c.646.076.999.216 1.257.426q.18.146.325.325c.21.258.35.611.426 1.257c.078.662.079 1.529.079 2.772c0 .326 0 .515-.015.654a.5.5 0 0 1-.023.125l-.024.033a.5.5 0 0 1-.114.058c-.129.054-.31.109-.622.202l-5.202 1.561V13c0-.69-.56-1.25-1.25-1.25h-4c-.69 0-1.25.56-1.25 1.25v.242l-5.202-1.56a7 7 0 0 1-.622-.203a.5.5 0 0 1-.114-.058l5.938 1.821l-5.962-1.854a.5.5 0 0 1-.023-.125a7 7 0 0 1-.015-.654c0-1.243.001-2.11.079-2.772c.076-.646.216-.999.426-1.257a2.3 2.3 0 0 1 .325-.325c.258-.21.611-.35 1.257-.426c.655-.077 1.51-.079 2.733-.079m3.01-3c-.143 0-.183 0-.215.002a1.25 1.25 0 0 0-1.084.782a4 4 0 0 0-.07.203l-.029.085l-.038.113q-.06.164-.14.315h5.99a2.5 2.5 0 0 1-.178-.428l-.028-.085a4 4 0 0 0-.07-.203a1.25 1.25 0 0 0-1.085-.782a4 4 0 0 0-.215-.002zM3.752 13.309c.007 1.437.036 2.817.159 4.003c.08.77.196 1.427.36 1.948c.168.53.362.845.545 1.008c.495.44 1.178.703 2.335.84c1.17.14 2.709.142 4.849.142s3.678-.001 4.849-.141c1.157-.138 1.84-.402 2.335-.841c.183-.163.377-.478.545-1.008c.164-.52.28-1.178.36-1.948c.123-1.186.152-2.567.159-4.003l-4.998 1.499v.354c0 .51-.311.97-.786 1.16l-.7.28a4.75 4.75 0 0 1-3.528 0l-.7-.28a1.25 1.25 0 0 1-.786-1.16v-.354zm6.498-.059v1.742l.543.217c.775.31 1.64.31 2.414 0l.543-.217V13.25z" clip-rule="evenodd"/></svg>
            Experiencia
        </Title>
        <ul class="w-full flex flex-wrap pt-16 md:pl-12">
            {experience.map(({title, description, company, tags}, key) => {
                return (<ExperienceItem title={title} description={description} company={company} tags={tags} last={(experience.length - 1) === key}></ExperienceItem>);
            })}
        </ul>
    </Section>
    <Section class="md:px-20 py-10">        
        <Title>
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" class="mr-2" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><path d="M4 8c0-2.828 0-4.243.879-5.121C5.757 2 7.172 2 10 2h4c2.828 0 4.243 0 5.121.879C20 3.757 20 5.172 20 8v8c0 2.828 0 4.243-.879 5.121C18.243 22 16.828 22 14 22h-4c-2.828 0-4.243 0-5.121-.879C4 20.243 4 18.828 4 16z"/><path d="M19.898 16h-12c-.93 0-1.395 0-1.777.102A3 3 0 0 0 4 18.224"/><path stroke-linecap="round" d="M8 7h8m-8 3.5h5m6.5 8.5H8"/></g></svg>
            Certificaciones
        </Title>
        <section class="w-full pt-10">
            {certificate.map(({title, description, url, img, tags}, key) => {
                return (<CertificateItem title={title} description={description} url={url} img={img} tags={tags}></CertificateItem>);
            })}
        </section>
    </Section>
    <Section class="md:px-20">
        <Title>
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" class="mr-2" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><path d="M2 12c0-4.714 0-7.071 1.464-8.536C4.93 2 7.286 2 12 2s7.071 0 8.535 1.464C22 4.93 22 7.286 22 12s0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12Z"/><path stroke-linecap="round" d="M17 15h-5m-5-5l.234.195c1.282 1.068 1.923 1.602 1.923 2.305s-.64 1.237-1.923 2.305L7 15"/></g></svg>
            Proyectos
        </Title>
        <section class="w-full py-10">
            {proyect.map(({title, description, github, live, img, tags}, key) => {
                return(
                    <ProyectItem title={title} description={description} github={github} live={live} img={img} tags={tags}></ProyectItem>
                );
            })}
        </section>
    </Section>
</Layout>
