---
import Layout               from "../layouts/Layout.astro";
import Button               from "../components/Button.astro";
import Section              from "../components/Section.astro";
import Title                from "../components/Title.astro";
import ExperienceItem       from "../components/ExperienceItem.astro";
import ProyectItem          from "../components/ProyectItem.astro";
import cv_nibaldochavezv    from "../assets/cv_nibaldochavezv.pdf";

const experience        = [
    {
        title           : "DESARROLLADOR FULL STACK | 2023 MARZO - PRESENTE",
        description     : "Desarrollando aplicación de nota venta, y creando API de factura electrónica integrada con SII (Servicio puesto interno).",
        company         : "ACHL SPA",
        tags            : ["PYTHON", "NODE.JS", "REACT", "REACT-NATIVE", "PHP", "LARAVEL", "TAILWINDSCSS"]
    },
    {
        title           : "DESARROLLADOR FULL STACK | 2022 MAYO - 2023 MARZO",
        description     : "Trabaje en el sector de GPS y redes. Aprendiendo e integrando nuevas tecnología a la par ayudando a la empresa con los requerimiento que se iban implementando",
        company         : "TIC NETWORKS AND SECURITY LTDA",
        tags            : ["CODEIGNITER", "PHP", "PYTHON", "JAVA", "ANTROID", "POWER BI", "BOOTSTRAP"]
    },
    {
        title           : "DESARROLLADOR FULL STACK | 2021 AGOSTO - 2022 MARZO",
        description     : "Trabaje en el sector de factura electrónica, donde implemente integraciones con boleta y modulo en factura electrónica.",
        company         : "CONTALINE S.A",
        tags            : ["ASP", "BOOTSTRAP", "C#", "SCRAPING SELENIUM", "VISUAL BASIC", ".NET"]
    }
];

const proyect           = [
{
        title           : "PDF-EDITOR",
        description     : "Sitio web para crear pdf basico en tiempo real donde podrás descargar el archivo pdf, creado con React, React-pdf y TailwindCSS",
        github          : "https://github.com/niba291/PDF-EDITOR",
        live            : "https://niba291.github.io/PDF-EDITOR/",
        img             : "https://github.com/niba291/PDF-EDITOR/assets/63934510/b60f1d84-098a-439c-a55f-e2016965e0ab",
        tags            : ["REACT", "TAILWINDSCSS", "REACT-PDF"]
    },
    {
        title           : "POKEAPI",
        // description     : "Simple website styled using TailwindCSS and React. Uses an external API called PokeAPI to display all Pokemons and search Pokemons and get their stats and types.",
        description     : "Sitio web sencillo diseñado con TailwindCSS y React. Utiliza una API externa llamada PokeAPI para mostrar todos los Pokémon, buscar Pokémon y obtener sus estadísticas y tipos.",
        github          : "https://github.com/niba291/POKEAPI",
        live            : "https://niba291.github.io/POKEAPI/",
        img             : "https://github.com/niba291/POKEAPI/assets/63934510/2a789344-66a1-45af-bfa6-85e3e48eb764",
        tags            : ["REACT", "TAILWINDSCSS"]
    }
];
---

<Layout>
    <Section>
        <img
            src="https://avatars.githubusercontent.com/u/63934510?v=4"
            alt="img profile"
            class="rounded-full w-[150px] h-[150px] border-4 md:mr-10 mb-10 md:mb-0"
        />
        <div class="flex flex-col justify-center">
            <h1 class="text-4xl font-bold text-center md:text-start">Nibaldo Chavez</h1>
            <h5 class="text-2xl py-5 md:py-0 md:pt-2 text-center md:text-left">
                Desarrollador full stack
            </h5>
            <div class="pt-5 flex flex-wrap md:justify-start">
                <Button href="https://github.com/niba291">
                    <svg
                        class="mr-1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="M12.001 2c-5.525 0-10 4.475-10 10a9.994 9.994 0 0 0 6.837 9.488c.5.087.688-.213.688-.476c0-.237-.013-1.024-.013-1.862c-2.512.463-3.162-.612-3.362-1.175c-.113-.288-.6-1.175-1.025-1.413c-.35-.187-.85-.65-.013-.662c.788-.013 1.35.725 1.538 1.025c.9 1.512 2.337 1.087 2.912.825c.088-.65.35-1.087.638-1.337c-2.225-.25-4.55-1.113-4.55-4.938c0-1.088.387-1.987 1.025-2.687c-.1-.25-.45-1.275.1-2.65c0 0 .837-.263 2.75 1.024a9.28 9.28 0 0 1 2.5-.337c.85 0 1.7.112 2.5.337c1.913-1.3 2.75-1.024 2.75-1.024c.55 1.375.2 2.4.1 2.65c.637.7 1.025 1.587 1.025 2.687c0 3.838-2.337 4.688-4.562 4.938c.362.312.675.912.675 1.85c0 1.337-.013 2.412-.013 2.75c0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10"
                        ></path></svg
                    >
                    <span class="hidden md:block">Github</span>
                </Button>
                <Button href="https://www.linkedin.com/in/nibaldochzvez/">
                    <svg
                        class="mr-1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                    >
                    <span class="hidden md:block">Linkedin</span>                        
                </Button>
                <Button href="mailto:nibaldochavezp@gmail.com">
                    <svg
                        class="mr-1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"
                        ></path></svg
                    >
                    <span class="hidden md:block">Correo</span>
                </Button>
                <Button href="https://drive.usercontent.google.com/download?id=1lOFNnBKkJb5xx6aNCAtzuQXdTZrmEXMW&export=download&authuser=2&confirm=t&uuid=7ab48a27-65bb-4ee4-8ff3-a0e624a7dd5e&at=APZUnTVjhrUMz75oolkr8FeFlLev:1705411041880" download={""}>
                    <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                            <path fill="currentColor" d="M4 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm14 0H6v16h12zM8 9a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1m1 4a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2z" />
                        </g>
                    </svg>
                    <span class="hidden md:block">Curriculum</span>
                </Button>
            </div>
        </div>
    </Section>
    <Section class="md:px-20 py-10">
        <Title>Experiencia</Title>
        <ul class="w-full flex flex-wrap pt-10 md:pl-12">
            {experience.map(({title, description, company, tags}, key) => {
                return (<ExperienceItem title={title} description={description} company={company} tags={tags} last={(experience.length - 1) === key}></ExperienceItem>);
            })}
        </ul>
    </Section>
    <Section class="md:px-20">
        <Title>Proyectos</Title>
        <section class="w-full py-10">
            {proyect.map(({title, description, github, live, img, tags}, key) => {
                return(
                    <ProyectItem title={title} description={description} github={github} live={live} img={img} tags={tags}></ProyectItem>
                );
            })}
        </section>
    </Section>
</Layout>
