---
import Badge                from "./Badge.astro";

interface Props {
	title       : string;
    description : string|Array<string>;
    company     : string;
    tags        : Array<string>;
    last        : Boolean;
}

const { title, description, company, tags, last } = Astro.props;
---

<li class="flex gap-2">
    <div class={!last ? "flex border-l-4 border-black-base" : "flex border-black-base"}>
        <span class={!last ? "w-[40px] h-[40px] rounded-full bg-black-base -ml-[1.4rem]" : "w-[40px] h-[40px] rounded-full bg-black-base -ml-[1.15rem]"}></span>
    </div>
    <div class="flex flex-wrap pl-5 pb-10">
        <h5 class="font-semibold w-full text-xl pb-2 uppercase">
            {title}
        </h5>
        <h6 class="w-full text-xl font-normal text-gray-base uppercase">{company}</h6>
        {typeof(description) === "string" ?
            <p class="text-md w-full py-4">{description}</p> 
            : 
            <ul class="py-2 text-md">
                {description.map((item, key) => {
                    return <li class="py-1">{item}</li>;
                })}
            <ul>
        }
        <div class="pt-4 flex flex-wrap">
            {tags.map((item, key) => {
                return (<Badge>{item}</Badge>)
            })}
        </div>    
    </div>
</li>